<section class="interpolation-property-binding">
    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>Resultado da Interpolação: "{{ url }}".</p>
        <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>

        <!-- Misturando Interpolação com recebimento do retorno de uma variável -->
        <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>

        <!-- Misturando valor boleano com retorno de função na Interpolação -->
        <p>Gosto do curso de angular? {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <hr />

    <article>
        <h3>Property Binding</h3>

        <img src="{{ imagem }}" />
        
        <img bind-src="imagem" />
        <img [src]="imagem" /> <!-- Sintax Sugar da linha cima, essa é a melhor opção. -->

        <!-- Quando não existe uma propriedade no elemento, usa-se [att.colspan], mas é raro acontecer isso. -->
    </article>
</section>