<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="pokedex">

                <!-- Search Balls -->
                <div class="header">
                    <div class="row">

                        <div class="col-3">
                            <div class="search-ball big">
                                <div class="core">
                                    <div class="shadow"></div>
                                </div>    
                            </div>
                        </div>

                        <div class="col-2 small-search-ball">
                            <div class="search-ball small red">
                                <div class="core">
                                    <div class="shadow"></div>
                                </div>    
                            </div>

                            <div class="search-ball small yellow">
                                <div class="core">
                                    <div class="shadow"></div>
                                </div>    
                            </div>

                            <div class="search-ball small green">
                                <div class="core">
                                    <div class="shadow"></div>
                                </div>    
                            </div>
                        </div>
                        
                    </div>
                </div>

                <!-- Display | Search Buttons -->
                <div class="content">

                    <!-- Display -->
                    <div class="row">
                        <div class="col-12">
                            <div class="display">
                                <div class="border">
                                    <div class="screen">
                                        <!-- <img src="https://2.bp.blogspot.com/-4wUf70q3hYI/XasqSnSWIzI/AAAAAAABz8k/VZrKd_I2eVUS43_61tm2tSNu_vS0CEKowCK4BGAYYCw/s1600/134Vaporeon_XY_anime.png" alt=""> -->
                                        <h4>All Pokemons list</h4>
                                        <ul>
                                            <li>Charmander</li>
                                            <li>Bulbassauro</li>
                                            <li>Squirtle</li>
                                            <li>Pikachu</li>
                                            <li>Pikachu</li>
                                            <li>Pikachu</li>
                                            <li>Pikachu</li>
                                            <li>Pikachu</li>
                                            <li>Pikachu</li>
                                            <li>Pikachu</li>
                                            <li>Pikachu</li>
                                            <li>Pikachu</li>
                                            <li>Pikachu</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Search Buttons -->
                    <div class="row search-controls">

                        <div class="col-5 search-field">
                            <input type="text" />
                        </div>

                        <div class="col-2 search-ok">
                            <a href="#">OK</a>
                        </div>

                        <div class="col-4 directionals">
                            <a href="" class="left">left</a>
                            .
                            <a href="" class="right">right</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
